@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexSans";
  src: url("/public/fonts/IBMPlexSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("/public/fonts/IBMPlexMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("/public/fonts/IBMPlexMono-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* fonts */
.display {
  font-family: IBMPlexMono,
}